:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin-top: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  background-color: #555555;
  gap: 2px;
}
.board > * {
  background-color: #3c745a;
  width: 100%;
  height: 100%;
  font-size: 50px;
  text-align: center;
  line-height: 1;
  align-content: center;
  position: relative;
}
.cell span {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
  mix-blend-mode: difference;
  color: #aaa;
  font-weight: bold;
  pointer-events: none;
}
.black {
  color: #333;
}
.white {
  color: #f2f2f2;
}

.top-text {
  font-size: 1.5rem;
  margin-block: 0 4px;

}

.message {
  line-height: 1em;
  margin-bottom: 0;
  height: 1lh;
  font-weight: bold;
  font-size: 1.125rem;
}